#usuarioagregar{
    font-size: 10px;
}
#consignatarioagregar{
    font-size: 10px;
}
#productoragregar{
    font-size: 10px;
}
#feedlotagregar{
    font-size: 10px;
}
#transporteagregar{
    font-size: 10px;
}
#choferagregar{
    font-size: 10px;
}
#camionagregar{
    font-size: 10px;
}

